body {
font-family: arial, helvetica, sans-serif;
background-image: url("wallpaper.png");
background-color: #4CC0F3;
color: #727272;
}

div.flex {
display:flex; justify-content:space-between; /*align-items:center;*/ flex-direction:row; flex-wrap: wrap;
}
div.sidebar {
text-align: left;
    background-color: #FFFFFF;
   /* overflow-x:hidden;*/
    font-size: 20px;
  line-height:1.5em;
    margin-left:0;
    flex:1;
    }
div.main{
    flex:4;
    padding:1vw;
    margin:auto;
}
img{ border-radius: 15px;
  
}
img.iconbox{width:36vw; }
.pfp {
    margin-top: 20px;
    position:static;
    display: block;
        padding-left: 25px;
        border:none;
}
a:hover {
  color: #0F549D;
  
  }
.welcome{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: black;
    font-size: 36px;
}
button {
    margin-top: 45px;
    margin-bottom:45px;
    background-color: #4CC0F3;
    color: white;
    outline:none;
    padding: 15px 32px;
    font-size: 24px;
    display: inline-block;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    }
button:active {
  background-color: #D997FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover {
background-color: #D997FF;
color: white;
}