h1 {
background-color: #FFFFFF;
color: #2656A3; 
font-family: kristen-itc, segoe-print, verdana;
}


body {
background-color: #FFFFFF;
color: #000000; 
font-family: arial, sans-serif,helevetica;
}



ol {list-style-type: lower-alpha;
padding: 5em;
    
}
