
body {
background-color: /*Baby Blue*/ #C8EFFF;
color: blue; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}

h1 {
background-color: /*Baby Blue*/ #C8EFFF;
color: blue; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ol {list-style-type: lower-alpha;
padding: 5em;
    
}
